html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.about-me-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  background: radial-gradient(
    circle at center,
    rgb(13, 31, 45, 0.8) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}


.about-me-content h2 {
  color: var(--text-color);
  font: var(--font-family);
}

.dots {
  list-style-type: none;
  padding: 0;
  position: relative;
  display: flex;
  justify-content: center;
  margin: 50vh auto;
}

.dots li {
  font-size: 2em;
  font-weight: bold;
  opacity: 0;
  transform: translateX(-1100px);
  display: inline-block;
  animation: loading 1.5s ease forwards;
}

.dots li:nth-child(1) {
  animation-delay: 300ms;
}

.dots li:nth-child(2) {
  animation-delay: 600ms;
}

.dots li:nth-child(3) {
  animation-delay: 900ms;
}

.dots li:nth-child(4) {
  animation-delay: 1200ms;
}

.dots li:nth-child(5) {
  animation-delay: 1500ms;
}

.dots li:nth-child(6) {
  animation-delay: 1800ms;
}

.dots li:nth-child(7) {
  animation-delay: 2100ms;
}

.dots li:nth-child(8) {
  animation-delay: 2400ms;
}



.logo-about-me {
  width: 100%;
  position: absolute;
  top: calc(50% - 100px);
  left: 0;
  overflow: visible;
  text-align: center;
}
.logo-about-me img {
  display: block;
  width: 200px;
  height: 200px;
  margin: 0 auto 20px;
  border: 0;
  border-radius: 50%;
  box-shadow: 0 0 15px var(--highlight-color);
  object-fit: cover;
  opacity: 0;
  animation: bounceIn 450ms linear 4s forwards, neonBox1 1.5s ease-in-out infinite alternate;
}

.logo-about-me:hover img{
    box-shadow: 4px 4px 25px var(--highlight-color);
    transform: scale(1.1);
    cursor: pointer;
  }

.span {
  display: inline-block;
  font-family: var(--font-family);
  font-size:var(--h3-font-size);
  color: var(--text-color);
  color: #fff;
  opacity: 0;
  text-shadow: 0 0 15px var(--highlight-color);
  animation: bounceIn 450ms linear 6s forwards, neonText1 1.5s ease-in-out infinite alternate;
}

.logo-about-me .span{
    font-size:1.7rem;
    animation-delay: 4s;
}






/* logo-sport */

.logo-sport {
    width: 100%;
    position: absolute;
    top: 20%;
    left: 30%;
    overflow: visible;
    text-align: center;
  }
  .logo-sport img {
    display: block;
    width: 150px;
    height: 150px;
    margin: 0 auto 20px;
    border: 0;
    border-radius: 50%;
    box-shadow: 0 0 5px var(--highlight-color);
    object-fit: cover;
    opacity: 0;
    animation: bounceIn 450ms linear 4s forwards, neonBox2 1.5s ease-in-out infinite alternate;
    animation-delay: 5s;
  }
.logo-sport .span{
  animation-delay: 5s;
}
  



/* logo-education */

.logo-education {
    width: 100%;
    position: absolute;
    top: 20%;
    right: 30%;
    overflow: visible;
    text-align: center;
  }
  .logo-education img {
    display: block;
    width: 150px;
    height: 150px;
    margin: 0 auto 20px;
    border: 0;
    border-radius: 50%;
    box-shadow: 0 0 5px var(--highlight-color);
    object-fit: cover;
    opacity: 0;
    animation: bounceIn 450ms linear 4s forwards, neonBox3 1.5s ease-in-out infinite alternate;
    animation-delay: 6s;
  }

  .logo-education .span{
    animation-delay: 6s;
  }
  


/* logo-sosial */

.logo-sosial {
    width: 100%;
    position: absolute;
    top: 60%;
    left: 30%;
    overflow: visible;
    text-align: center;
  }
  .logo-sosial img {
    display: block;
    width: 150px;
    height: 150px;
    margin: 0 auto 20px;
    border: 0;
    border-radius: 50%;
    box-shadow: 0 0 5px var(--highlight-color);
    object-fit: cover;
    opacity: 0;
    animation: bounceIn 450ms linear 4s forwards, neonBox4 1.5s ease-in-out infinite alternate;
    animation-delay: 7s;
  }

  .logo-sosial .span{
    animation-delay: 7s;
  }
  


/* logo-projets*/

.logo-projects {
    width: 100%;
    position: absolute;
    top: 60%;
    right: 30%;
    overflow: visible;
    text-align: center;
  }
  .logo-projects img {
    display: block;
    width: 150px;
    height: 150px;
    margin: 0 auto 20px;
    border: 0;
    border-radius: 50%;
    box-shadow: 0 0 5px var(--highlight-color);
    object-fit: cover;
    opacity: 0;
    animation: bounceIn 450ms linear 4s forwards, neonBox5 1.5s ease-in-out infinite alternate;
    animation-delay: 8s;
  }

  .logo-projects .span{
    animation-delay: 8s;
  }

  



.logo-footer h4 {
  color: var(--text-color);
}

@keyframes loading {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    transform: translateX(0px);
  }

  100% {
    transform: scale(1.2);
  }
}
  
@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3) translate3d(0, 0, 0);
  }
  50% {
    opacity: 0.9;
    transform: scale(1.1);
  }
  80% {
    opacity: 1;
    transform: scale(0.89);
  }
  100% {
    opacity: 1;
    transform: scale(1) translate3d(0, 0, 0);
  }
}


@keyframes neonText1 {
  from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #19d6e3,
        0 0 70px #19d6e3, 0 0 80px #19d6e3, 0 0 100px #19d6e3, 0 0 150px #19d6e3;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #19d6e3,
        0 0 35px #19d6e3, 0 0 40px #19d6e3, 0 0 50px #19d6e3, 0 0 75px #19d6e3;
    }
}

@keyframes neonBox1 {
  from {
      box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #19d6e3,
        0 0 35px #19d6e3, 0 0 45px #19d6e3, 0 0 55px #19d6e3, 0 0 65px #19d6e3;
    }
    to {
      box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #19d6e3,
        0 0 15px #19d6e3, 0 0 20px #19d6e3, 0 0 25px #19d6e3, 0 0 30px #19d6e3;
    }
}

@keyframes neonText2 {
  from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff1177,
        0 0 70px #ff1177, 0 0 80px #ff1177, 0 0 100px #ff1177, 0 0 150px #ff1177;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff1177,
        0 0 35px #ff1177, 0 0 40px #ff1177, 0 0 50px #ff1177, 0 0 75px #ff1177;
    }
}

@keyframes neonBox2 {
  from {
      box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff1177,
        0 0 35px #ff1177, 0 0 45px #ff1177, 0 0 55px #ff1177, 0 0 65px #ff1177;
    }
    to {
      box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff1177,
        0 0 15px #ff1177, 0 0 20px #ff1177, 0 0 25px #ff1177, 0 0 30px #ff1177;
    }
}

@keyframes neonText3 {
  from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ffdd1b,
        0 0 70px #ffdd1b, 0 0 80px #ffdd1b, 0 0 100px #ffdd1b, 0 0 150px #ffdd1b;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ffdd1b,
        0 0 35px #ffdd1b, 0 0 40px #ffdd1b, 0 0 50px #ffdd1b, 0 0 75px #ffdd1b;
    }
}

@keyframes neonBox3 {
  from {
      box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ffdd1b,
        0 0 35px #ffdd1b, 0 0 45px #ffdd1b, 0 0 55px #ffdd1b, 0 0 65px #ffdd1b;
    }
    to {
      box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ffdd1b,
        0 0 15px #ffdd1b, 0 0 20px #ffdd1b, 0 0 25px #ffdd1b, 0 0 30px #ffdd1b;
    }
}

@keyframes neonTex4 {
  from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #b6ff00,
        0 0 70px #b6ff00, 0 0 80px #b6ff00, 0 0 100px #b6ff00, 0 0 150px #b6ff00;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #b6ff00,
        0 0 35px #b6ff00, 0 0 40px #b6ff00, 0 0 50px #b6ff00, 0 0 75px #b6ff00;
    }
}

@keyframes neonBox4 {
  from {
      box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #b6ff00,
        0 0 35px #b6ff00, 0 0 45px #b6ff00, 0 0 55px #b6ff00, 0 0 65px #b6ff00;
    }
    to {
      box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #b6ff00,
        0 0 15px #b6ff00, 0 0 20px #b6ff00, 0 0 25px #b6ff00, 0 0 30px #b6ff00;
    }
}

@keyframes neonText5 {
  from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff9900,
        0 0 70px #ff9900, 0 0 80px #ff9900, 0 0 100px #ff9900, 0 0 150px #ff9900;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff9900,
        0 0 35px #ff9900, 0 0 40px #ff9900, 0 0 50px #ff9900, 0 0 75px #ff9900;
    }
}

@keyframes neonBox5 {
  from {
      box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff9900,
        0 0 35px #ff9900, 0 0 45px #ff9900, 0 0 55px #ff9900, 0 0 65px #ff9900;
    }
    to {
      box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff9900,
        0 0 15px #ff9900, 0 0 20px #ff9900, 0 0 25px #ff9900, 0 0 30px #ff9900;
    }
}


@keyframes movie {
  0% {
    opacity: 0;
    transform: translate(0,0);
  }
  100% {
    opacity: 1;
    transform: translate(100px,100px);
  }
}





/* Ortadaki resme tıklandığında çevresindeki logoların hareket animasyonu */
.logo-sport.move-to-position {
  animation: moveSport 2s forwards;
}

.logo-education.move-to-position {
  animation: moveEducation 2s forwards;
}

.logo-sosial.move-to-position {
  animation: moveSosial 2s forwards;
}

.logo-projects.move-to-position {
  animation: moveProjects 2s forwards;
}

/* Animasyonlar */
@keyframes moveSport {
  from {
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: scale(0);
  }
  to {
    top: 20%;
    left: 30%;
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes moveEducation {
  from {
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: scale(0);
  }
  to {
    top: 20%;
    right: 30%;
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes moveSosial {
  from {
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: scale(0);
  }
  to {
    top: 60%;
    left: 30%;
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes moveProjects {
  from {
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: scale(0);
  }
  to {
    top: 60%;
    right: 30%;
    opacity: 1;
    transform: scale(1);
  }
}
