/* About Me Section */
.about-me {
    padding: 50px 20px;
    background: rgba(0, 0, 0, 0.9);
    text-align: center;
}


.about-content {
    margin: 0 auto;
    color: var(--text-color);
    font-size: 1.2em;
    line-height: 1.8;
    font-family: var(--font-family2);
}

.about-content p {
    margin-bottom: 30px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .about-me {
        padding: 30px 10px;
    }

    .about-content {
        font-size: 1em;
        line-height: 1.6;
    }
}

@media (max-width: 480px) {

    .about-content {
        font-size: 0.9em;
    }
}
