.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    height: 80vh;
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.1) 0%, var(--secondary-color) 90%);
    position: relative;
}

.hero-content {
    max-width: 100%;
    z-index: 2;
    position: relative;
}

.hero-content > h2 {
    margin-bottom: 20px;
    color: var(--text-color);
    font-size: var(--h2-font-size);
}

.hero-content > h2 span {
    color: var(--highlight-color);
}

.hero-content > p {
    margin-bottom: 20px;
}

.hero-image {
    flex: 1 1 40%;
    width: 100%;
    height: 100%; /* Resim yüksekliği tam kapsar */
    max-height: 70vh; /* Maximum yüksekliği ayarla */
    background-image: url('../img/logo1.png');
    background-size: contain; /* Resim boyutunu kapsayıcıya uydur */
    background-position: center center; /* Resmin sağ tarafa hizalanması */
    background-repeat: no-repeat;
    position: relative;
    object-fit: contain; /* Resmi kapsayıcıya sığdır */
}

/* Büyük ekranlar için ayar */
@media (min-width: 1024px) {
    .hero {
        flex-direction: row;
        justify-content: space-between;
        text-align: start;
        padding: 0px;
    }

    .hero-content {
        flex: 1 1 50%;
        max-width: 60%; /* Yazı alanını sınırla */
        text-align: left;
        padding-left: 40px;
        z-index: 2;
        border: none; /* İsteğe bağlı: Büyük ekranlarda border kaldırılabilir */
    }

    .hero-image {
        flex: 1 1 30%;
        width: 20%;
        height: 90%; /* Resim boyutu orantılı büyür */
        background-size: contain; /* Kapsayıcı içinde tam görünmesi */
        background-position: center right;
        position: relative;
        top: 0;
        right: 0;
        z-index: 1;
    }

    .hero-content > h2 {
        font-size: 60px !important;
    }

    .hero-content > p {
        font-size: 1.7rem;
    }
}
