

@keyframes loading {
    0% {
      opacity: 0;
      transform: translateX(-100px);
    }
  
    60% {
      opacity: 1;
      transform: translateX(0px);
    }
  
    100% {
      transform: scale(1.2);
    }
  }
    
  @keyframes bounceIn {
    0% {
      opacity: 0;
      transform: scale(0.3) translate3d(0, 0, 0);
    }
    50% {
      opacity: 0.9;
      transform: scale(1.1);
    }
    80% {
      opacity: 1;
      transform: scale(0.89);
    }
    100% {
      opacity: 1;
      transform: scale(1) translate3d(0, 0, 0);
    }
  }
  
  
  @keyframes neonText1 {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #19d6e3,
          0 0 70px #19d6e3, 0 0 80px #19d6e3, 0 0 100px #19d6e3, 0 0 150px #19d6e3;
      }
      to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #19d6e3,
          0 0 35px #19d6e3, 0 0 40px #19d6e3, 0 0 50px #19d6e3, 0 0 75px #19d6e3;
      }
  }
  
  @keyframes neonBox1 {
    from {
        box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #19d6e3,
          0 0 35px #19d6e3, 0 0 45px #19d6e3, 0 0 55px #19d6e3, 0 0 65px #19d6e3;
      }
      to {
        box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #19d6e3,
          0 0 15px #19d6e3, 0 0 20px #19d6e3, 0 0 25px #19d6e3, 0 0 30px #19d6e3;
      }
  }
  
  @keyframes neonText2 {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff1177,
          0 0 70px #ff1177, 0 0 80px #ff1177, 0 0 100px #ff1177, 0 0 150px #ff1177;
      }
      to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff1177,
          0 0 35px #ff1177, 0 0 40px #ff1177, 0 0 50px #ff1177, 0 0 75px #ff1177;
      }
  }
  
  @keyframes neonBox2 {
    from {
        box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff1177,
          0 0 35px #ff1177, 0 0 45px #ff1177, 0 0 55px #ff1177, 0 0 65px #ff1177;
      }
      to {
        box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff1177,
          0 0 15px #ff1177, 0 0 20px #ff1177, 0 0 25px #ff1177, 0 0 30px #ff1177;
      }
  }
  
  @keyframes neonText3 {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ffdd1b,
          0 0 70px #ffdd1b, 0 0 80px #ffdd1b, 0 0 100px #ffdd1b, 0 0 150px #ffdd1b;
      }
      to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ffdd1b,
          0 0 35px #ffdd1b, 0 0 40px #ffdd1b, 0 0 50px #ffdd1b, 0 0 75px #ffdd1b;
      }
  }
  
  @keyframes neonBox3 {
    from {
        box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ffdd1b,
          0 0 35px #ffdd1b, 0 0 45px #ffdd1b, 0 0 55px #ffdd1b, 0 0 65px #ffdd1b;
      }
      to {
        box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ffdd1b,
          0 0 15px #ffdd1b, 0 0 20px #ffdd1b, 0 0 25px #ffdd1b, 0 0 30px #ffdd1b;
      }
  }
  
  @keyframes neonTex4 {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #b6ff00,
          0 0 70px #b6ff00, 0 0 80px #b6ff00, 0 0 100px #b6ff00, 0 0 150px #b6ff00;
      }
      to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #b6ff00,
          0 0 35px #b6ff00, 0 0 40px #b6ff00, 0 0 50px #b6ff00, 0 0 75px #b6ff00;
      }
  }
  
  @keyframes neonBox4 {
    from {
        box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #b6ff00,
          0 0 35px #b6ff00, 0 0 45px #b6ff00, 0 0 55px #b6ff00, 0 0 65px #b6ff00;
      }
      to {
        box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #b6ff00,
          0 0 15px #b6ff00, 0 0 20px #b6ff00, 0 0 25px #b6ff00, 0 0 30px #b6ff00;
      }
  }
  
  @keyframes neonText5 {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff9900,
          0 0 70px #ff9900, 0 0 80px #ff9900, 0 0 100px #ff9900, 0 0 150px #ff9900;
      }
      to {
        text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff9900,
          0 0 35px #ff9900, 0 0 40px #ff9900, 0 0 50px #ff9900, 0 0 75px #ff9900;
      }
  }
  
  @keyframes neonBox5 {
    from {
        box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff9900,
          0 0 35px #ff9900, 0 0 45px #ff9900, 0 0 55px #ff9900, 0 0 65px #ff9900;
      }
      to {
        box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff9900,
          0 0 15px #ff9900, 0 0 20px #ff9900, 0 0 25px #ff9900, 0 0 30px #ff9900;
      }
  }
  
  
  @keyframes movie {
    0% {
      opacity: 0;
      transform: translate(0,0);
    }
    100% {
      opacity: 1;
      transform: translate(100px,100px);
    }
  }

 /* Animasyonlar */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInImage {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeInText {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}