/* layout.css */

/* Genel Etiket Ayarları */

html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

body {
  background-color: var(--secondary-color);
  line-height: 1.6;
  line-height: 1.2;
  letter-spacing: 1.2px;
}

h1 {
  font-size: var(--h1-font-size);
  font-family: var(--font-family);
  color: var(--highlight-color);
}
h2 {
  font-size: var(--h2-font-size);
  font-family: var(--font-family);
  color: var(--text-color);
}
h3 {
  font-size: var(--h3-font-size);
  font-family: var(--font-family);
  color: var(--highlight-color);
}
h4 {
  font-size: var(--h4-font-size);
  font-family: var(--font-family);
  color: var(--highlight-color);
}
span {
  font-size: var(--a-font-size);
  font-family: var(--font-family);
  color: var(--highlight-color);
}
a {
  font-size: var(--a-font-size);
  font-family: var(--font-family2);
  color: var(--text-color);
  text-decoration: none;
  transition: color 0.3s;
}
p {
  font-size: var(--a-font-size);
  font-family: var(--font-family2);
  color: #555;
  line-height: 1.2;
}

p {
  font-family: var(--font-family2);
  font-size: var(--a-font-size);
  color: var(--text-color);
}

.main-nav nav ul {
  display: flex;
  list-style-type: none;
}

.main-nav nav ul li {
  margin: 0 5px;
}


.section-title .highlight {
  font-size: var(--h2-font-size);
  color: var(--highlight-color);
}

/* Butonlar */
button,
.btn,
.explore-btn {
  font-family: var(--font-family);
  background-color: var(--btn-bg-color);
  color: var(--btn-text-color);
  padding: var(--btn-padding);
  border-radius: var(--btn-radius);
  text-decoration: none;
  font-size: var(--a-font-size);
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.4s ease, transform 0.3s ease;
}

button:hover,
.btn:hover,
.explore-btn:hover {
  background: radial-gradient(circle, rgba(64, 64, 64, 0.6), rgba(0, 0, 0, 0.8));
  color:var(--highlight-color);
  z-index: 1001;
  border-radius: 50%;
  text-align: center;
  transform: scale(1.2);
  box-shadow: 1px 1px 1px 10px solid var(--highlight-color);
  box-shadow: 1px 1px 10px var(--highlight-color);
  transition: 1s;
}




/* Responsive Ayarlar */
@media (max-width: 768px) {
  h1 {
    font-size: 1.75rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  h4 {
    font-size: 1rem;
  }
  span {
    font-size: 0.8rem;
  }
  a {
    font-size: 0.8rem;
  }
  p {
    font-size: 0.8rem;
  }

  .section-title {
    font-size: var(--h3-font-size);
  }

  .section-title .highlight {
    font-size: var(--h3-font-size);
  }

  button {
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
  }
}
