
h1 {
  text-align: center;
  font-size: var(--h1-font-size);
  margin-top: 50px;
  margin-bottom: 50px;
  letter-spacing: 5px;
  text-shadow: 1px 1px 2px var(--highlight-color), 0 0 1em var(--primary-color), 0 0 0.2em var(--primary-color);
}

.progress-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.progress-bar {
  width: 80%;
  background-color: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 20px;
}

.progress {
  height: 30px;
  width: 0%;
  background-image: linear-gradient(45deg, var(--primary-color) 25%, var(--secondary-color) 25%, var(--secondary-color) 50%, var(--primary-color) 50%, var(--primary-color) 75%, var(--secondary-color) 75%);
  background-size: 40px 40px;
  animation: load 2s linear infinite, progress 2s linear forwards;
}

@keyframes load {
  0% { background-position: 0 0; }
  100% { background-position: 40px 0; }
}

@keyframes progress {
  0% { width: 0%; }
  100% { width: 100%; }
}

.progress-wrap.remove {
  display: none;
}