

/* Ana Navigasyon */
.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.9);
    height: 80px;
}

.main-nav .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

.main-nav .logo img {
    width: 80px;
    height: auto;
}

.main-nav .logo h2 {
    padding-top: 20px;
    font-size: 1.5em;
    font-family: var(--font-family);
    color: var(--text-color);
}

.main-nav .logo .highlight {
    color: var(--highlight-color);
}


.main-nav nav ul {
    display: flex;
    list-style-type: none;
}

.main-nav nav ul li {
    margin: 0 5px;
}

.main-nav nav ul li a {
    color: white;
    text-decoration: none;
}


