/* Portfolio Hero Section */
/* Portfolio Hero Section */
.portfolio-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.portfolio-hero .portfolio-content {
  text-align: center;
  color: white;
}

.portfolio-hero .portfolio-image {
  width: 100%;
  height: auto;
  animation: imageFadeIn 1s ease-in-out, imageScale 1.5s ease-in-out;
}

.portfolio-hero h2 {
  font-size: 2.5em;
  color: white;
  margin-bottom: 10px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
  animation: fadeInContent 1.5s ease-in-out;
}



/* Portfolio Section */
.portfolio-section {
  padding: 50px 20px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: var(--secondary-color);
  text-align: center;
}

.section-title {
  font-size: 2.5em;
  color: var(--highlight-color);
  margin-bottom: 20px;
}

.section-description {
  font-size: 1.2em;
  color: var(--text-color);
  margin-bottom: 40px;
}




/* Project Card Styles */
.projects-card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #1b2838;
  padding: 30px;
  border-radius: 15px;
  margin-bottom: 40px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.projects-image {
  flex: 1 1 300px;
  max-width: 450px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.projects-details {
  flex: 1 1 300px;
  max-width: 450px;
  color: white;
  text-align: left;
  margin-left: 20px;
  overflow: hidden;
  min-width: 350px;
  z-index: 1;
}

.projects-details h3 {
  font-size: 2em;
  margin-bottom: 10px;
  font-family: var(--font-family);
  color: var(--highlight-color);
  overflow: hidden;
}

.projects-details p {
  font-size: 1.1em;
  margin-bottom: 10px;
  overflow: hidden;
}

.projects-details ul {
  text-align: left;
  list-style: disc;
  padding-left: 20px;
  margin-bottom: 20px;
}

.projects-details ul li {
  font-size: 1.1em;
  margin-bottom: 5px;
  font-family: var(--font-family2);
}

.projects-details h4 {
  font-size: 1.3em;
  margin-bottom: 10px;
}

.btn {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  margin: 20px;
  background-color: var(--highlight-color);
  color: white;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.1em;
  transition: background-color 0.3s;
  position: relative; 
  z-index: 1000; 
}

.btn:hover {
  background-color: white; 
  color: var(--highlight-color);
}

.logo-footer h4 {
  color: var(--text-color);
}

/* Animations */
@keyframes imageFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes imageScale {
  0% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fadeInContent {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive Design */
@media (min-width: 768px) {
  .project-card {
    flex-direction: row;
  }
}





