/* Projects Section */
.projects {
    padding: 50px 20px;
    background: radial-gradient(circle at center, rgb(13, 31, 45, 0.5) 0%, rgba(0, 0, 0, 0.9) 100%);
    text-align: center;
}

.section-title {
    font-size: var(--h2-font-size);
    color: var(--text-color);
    margin-bottom: 20px;
}

.section-title h2 {
    font-size: var(--h2-font-size);
    color: var(--text-color);
    margin-bottom: 20px;
}

.section-title h2 span {
    color: var(--highlight-color);
}

.section-description {
    font-size: var(--p-font-size);
    color: var(--text-color);
    margin-bottom: 50px;
    margin: 50px auto;
}


.projects-section {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.project-item {
    position: relative;
    width: 100%;
    max-width: 600px;
    height: 450px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 50px; 
}


.project-image-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.project-image-wrapper img {
    flex:1 1 400px;
    height: 100%;
    object-fit: cover;
    z-index: 2;
}

/* Project Details */
.project-details {
    position: absolute;
    top: 50%;
    left: 5%;
    background-color: #1b2838;
    color: var(--text-color);
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    z-index: 10;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
    width: 90%;
}

/* Project Details Heading */
.project-details h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
}

.project-details p {
    font-size: 1.1em;
}

/* Project Link */
.project-link {
    font-size: 1.1em;
    color: var(--highlight-color);
    text-decoration: none;
}

.project-details a:hover {
    color: var(--text-color);
    transition: color 0.4s ease, transform 0.4s ease;
}

.view-all .btn {
    display: inline-block;
}

/* Responsive Design */
@media (max-width: 768px) {
    .project-item {
        width: 100%;
    }

    .projects-section {
        flex-direction: column;
    }

    .project-details {
        width: 100%;
        top: 55%;
    }
}
